@Styles.Render("~/Content/style.css")
<footer class="footer">
    <div class="grid">
        <div class="footer-logo">
            <a href="/home/index">
                <img src="~/img/logo.png" alt="Footer logo">
            </a>
        </div>
        <div class="navbar-item navbar-footer">
            <a href="/home/tintuc">
                <li class="navbar-news navbar-news-footer">Tin tức</li>
            </a>
            <a href="/home/sao">
                <li class="navbar-news navbar-news-footer">Sao</li>
            </a>
            <a href="/home/giaitri">
                <li class="navbar-news navbar-news-footer">Giải trí</li>
            </a>
            <a href="/home/thethao">
                <li class="navbar-news navbar-news-footer">Thể thao</li>
            </a>
            <a href="/home/khampha">
                <li class="navbar-news navbar-news-footer">Khám phá</li>
            </a>
            <a href="/home/tuvi">
                <li class="navbar-news navbar-news-footer">Tử vi</li>
            </a>
            <a href="/home/anchoi">
                <li class="navbar-news navbar-news-footer">Ăn chơi</li>
            </a>
            <a href="/home/dep">
                <li class="navbar-news navbar-news-footer">Đẹp</li>
            </a>
            <a href="/home/tamsu">
                <li class="navbar-news navbar-news-footer">Tâm Sự</li>
            </a>
        </div>
        <div class="copyright">
            © Copyrights @DateTime.Now.Year. LeHungTin.TranAnhHao.
        </div>
    </div>
</footer>
