
@Styles.Render("~/Content/style.css")
<header class="header">
    <div class="grid">
        <div class="topnav">
            <a href="/home/index">
                <img class="logo" src="~/img/logo.png" alt="Header logo">
            </a>
            <div class="topnav-item">
                <a href="https://facebook.com" class="logobox"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="https://twitter.com" class="logobox"><i class="fa-brands fa-twitter-square"></i></a>
                <a href="https://youtube.com" class="logobox"><i class="fa-brands fa-youtube-square"></i></a>
                <a href="https://www.linkedin.com" class="logobox"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <ul class="navbar">
        <div class="grid">
            <div class="navbar-item">
                <a href="/home/index">
                    <li class="navbar-news">
                        <i class="fa-solid fa-house"></i>
                    </li>
                </a>
                <a href="/home/tintuc">
                    <li class="navbar-news">Tin tức</li>
                </a>
                <a href="/home/sao">
                    <li class="navbar-news">Sao</li>
                </a>
                <a href="/home/giaitri">
                    <li class="navbar-news">Giải trí</li>
                </a>
                <a href="/home/thethao">
                    <li class="navbar-news">Thể thao</li>
                </a>
                <a href="/home/khampha">
                    <li class="navbar-news">Khám phá</li>
                </a>
                <a href="/home/tuvi">
                    <li class="navbar-news">Tử vi</li>
                </a>
                <a href="/home/anchoi">
                    <li class="navbar-news">Ăn chơi</li>
                </a>
                <a href="/home/dep">
                    <li class="navbar-news">Đẹp</li>
                </a>
                <a href="/home/tamsu">
                    <li class="navbar-news">Tâm Sự</li>
                </a>
            </div>
        </div>
    </ul>
</header>
